@import '../../../../../assets/styles/variables.scss';

.my-experience {
 background: $secondary;
 text-align: center;
 height: 100vh;
 background-image: url('../../../../../assets/images/Migal_Career_Journey.png');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 position: relative;
}

.overlay {
    width: 40vw;
    height: 40%;
    background: $background2;
    position: absolute;
    top: 0;
    left: 0;
}


h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 85px;

    color: #FFFFFF;
    margin-bottom: 64px;
}
