@import '../../../../../assets/styles/variables.scss';

.nav-div {
   height: 64px;
   width: 100vw;
   background: $primary;
}

.my-experience {
 background: $secondary;
 text-align: center;
 height: 100vh;
 background-image: url('../../../../../assets/images/Migal_Career_Journey.png');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 position: relative;

 .logo-0 {
    right: 36%;
    bottom: 9%;
    width: 124px;
    height: 124px;
    position: absolute;
 }

 .logo-1 {
    right: 12%;
    bottom: 16%;
    width: 124px;
    height: 124px;
    position: absolute;
 }

 .logo-2 {
    right: 24%;
    bottom: 32%;
    width: 155px;
    height: 125px;
    position: absolute;
 }

 .logo-3 {
    right: 24%;
    bottom: 40%;
    width: 72px;
    height: 72px;
    position: absolute;
 }

 .logo-4 {
    left: 40%;
    top: 46%;
    width: 419px;
    height: 97px;
    position: absolute;
 }

 .logo-5 {
    left: 18%;
    top: 42%;
    width: 184px;
    height: 53px;
    position: absolute;
 }

 .logo-6 {
    left: 18%;
    top: 46%;
    width: 124px;
    height: 124px;
    position: absolute;
 }

 .logo-7 {
    left: 42%;
    top: 26%;
    width: 164px;
    height: 164px;
    position: absolute;

    rect {
        width: 164px;
        height: 164px;
    }

    image {
        width: 160px;
        height: 160px;
    }
 }

 .footstep {
    width:46px;
    height: 37px;
    position: absolute;
    opacity: 0;
    animation: fadeIn, fadeOut;
    animation-duration: 17s, 17s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
 }

 @keyframes fadeIn {
    10% {opacity: 1};
    100% {opacity: 1};
  }
  @keyframes fadeOut {
    25% {opacity: 0};
    100% {opacity: 0};
  }

}

.overlay {
    width: 40vw;
    height: 32%;
    background: rgba($secondary, 0.82);
    position: absolute;
    top: 14%;
    right: 6%;
}


h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 85px;

    color: $white;
    margin-bottom: 64px;
}

@media only screen and (max-width: 600px) {
   .my-experience {
       height: 100%;
       min-height: 200vh;
       width: 100vw;
       max-width: 100vw;
       background-image: url('../../../../../assets/images/Migal_mobile.png');
   }
   .nav-div {
       position: fixed;
       z-index: 3;
   }
   .container {
       padding-bottom: 12px;
       padding-top: 64px;
       height: 100%;
   }


   .my-experience .logo-0 {
      bottom: 3%;
      width: 93px;
   }

   .my-experience .logo-1 {
      bottom: 12%;
      width: 93px;
   }

   .my-experience .logo-2 {
      right: 46%;
      bottom: 18%;
      height: 93px;
   }

   .my-experience .logo-3 {
      right: 46%;
      bottom: 21%;
      height: 62px;
   }

   .my-experience .logo-4 {
      height: 62px;
      left: 0%;
      bottom: 28%;
      top: auto;
   }

   .my-experience .logo-5 {
      height: 62px;
      left: 3%;
      bottom: 34%;
      top: auto;
   }

   .my-experience .logo-6 {
      height: 72px;
      left: 18%;
      bottom: 36%;
      top: auto;
   }

   .my-experience .logo-7 {
      left: 42%;
      bottom: 38%;
      top: auto;
      width: 112px;
   }
}

@media only screen and (max-width: 600px) {
   .my-experience {
       height: 100%;

       .footstep {
         width: 38px;
         height: 32px;
         animation-duration: 9s, 9s;
      }
   }
   .nav-div {
       position: fixed;
       z-index: 3;
   }
   .container {
       padding-bottom: 12px;
       padding-top: 64px;
   }
   .overlay {
       width: 100%;
       height: 500px;
       position: unset;
       padding: 12px;
   }

   .my-experience .logo-4  {
      width: 300px;
   }


}