@import '../../../assets/styles/variables.scss';


.header {
    display: flex;
    padding: 0 24px ;
    align-items: center;
    height: 20%;
    .logo {
        height: 64px;
        margin: 0 24px;
    }

    .company-name {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 64px;
        color:$primary;
        margin: 0;
        margin-right: 24px;
    }

    .dates {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 64px;
        color:$primary;
        margin: 0;
    }
}

.project-name {
    width: 100%;
    text-align: center;
    border-radius: 0;
    color: $primary;
}

.projects {
    color: $tertiary;
    padding: 0 60px;
    margin: auto;
    overflow-y: scroll ;
    height: 64%;

    .role {
        text-align: left;
        font-weight: bold;
    }

    .short-description {
        text-align: left;
    }

    .description {
        text-align: left;
    }
}

.row {
    height: 100%;
}


.job-group {
    height: 100%;
}

swiper {
    height: 100%;
    width: 100%;
}

.col-9 {
    height: 100%;
}


.scroll-bar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba($dark,0.3);
	background-color: $white;
	border-radius: 2px;
}

.scroll-bar::-webkit-scrollbar
{
	width: 3px;
	background-color: $white;
}

.scroll-bar::-webkit-scrollbar-thumb
{
    border-radius: 2px;
    background-color: $primary;
}

@media only screen and (max-width: 600px) {
    .header {
        flex-direction: column;

        .company-name {
            line-height: 42px
        }
        .dates {
            line-height: 32px;
        }
    }
}