<div class="landing">
    <div class="nav-div">

    </div>
    <div class="text-overlay">
        <p class="hi">Hi my name is <span>Migal Darian Roget Lewis</span></p>
        <p class="who">I am a fullstack developer that enjoys innovating, creating things and good food</p>
        <p class="meaning">What does that mean?</p>
        <p class="meaning-value">You give me money for food, coffee and other nice things, I turn money into problem solving, quality code and whatever your Designer and BA throughs at me in an effecient way</p>
    </div>
    <div class='clouds'>
        <div class='clouds-1'></div>
        <div class='clouds-2'></div>
        <div class='clouds-3'></div>
    </div>
</div>
