/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/variables.scss';

.margin-top-small {
    margin-top: 12px;
}

.margin-top-medium {
    margin-top: 24px;
}

@font-face {
    font-family: "Playfair Display";
    src: local("Playfair Display"), url(./assets/fonts/playfairDisplay/PlayfairDisplay-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Oxygen";
  src: local("Oxygen"), url(./assets/fonts/oxygen/Oxygen-Regular.ttf) format("truetype");
}

@import '~bootstrap/scss/bootstrap.scss';