$primary: #2A7A87;
$secondary: #0DB4D6;
$tertiary: rgb(251, 253, 213);
$forth: #E3B220;

$darkToSecondary: linear-gradient(180deg, #000000, #0a1014, #111a20, #14242d, #172e3a, #183848, #1a4356, #1a4e65);
$secondaryToPrimary: linear-gradient(to right bottom, #2a7a87, #307580, #34707a, #376b73, #3a666d);
$primaryToTertiary: linear-gradient(180deg, #2a7a87, #128383, #1b8b77, #399165, #5b954f, #7e9739, #a29527, #c98f24);
$secondaryToPrimary2: linear-gradient(to right bottom, #3a666d, #376b73, #34707a, #307580, #2a7a87);;
$secondaryToWhite: linear-gradient(180deg, #000000, #242424, #434343, #656565, #898989, #afafaf, #d6d6d6, #ffffff);
$overlay: rgba(251, 253, 213, 0.64);

$background1: radial-gradient(141.21% 276.53% at 55.87% 25.61%, rgba(64, 224, 208, 0.49) 0%, rgba(36, 200, 211, 0.49) 54.69%, rgba(13, 180, 214, 0.49) 100%);
$background2: radial-gradient(141.21% 276.53% at 55.87% 25.61%, rgba(64, 224, 208, 0.49) 0%, rgba(36, 200, 211, 0.49) 54.69%, rgba(13, 180, 214, 0.49) 100%);
$overlay2: rgba(14, 115, 136, 0.32);

$info: #7854e4;
$warning: #D87923;
$success: #5B6C41;
$danger: #d62518;
$dark: #23191A; 

$white: white;

$shade-01: #EAEAEA;
$shade-02: #EDEEF4;
$shade-03: #6F7073;
$shade-04: #505050;
$shade-05: #403E3E;