<div class="about-me">
    <div class="container">
        <h2>About Me</h2>
        <div class="row">
            <div class="col-6">
                <img src="../../../../../assets/images/profile (1).jpg"/>
            </div>
            <div class="col-6">
                <p class="header">At Work</p>
                <p class="content">I'm </p>
                <ul class="content">
                    <li>Hard working</li>
                    <li>Diligent</li>
                    <li>Innovative </li>
                    <li>Efficient at what I do</li>
                </ul>
                <p class="content">I enjoy my job and I aim to add value wherever I am</p>
            </div>
            <div class="col-6 margin-top-medium">
                <p class="header">What am I learning now</p>
                <ul class="content">
                    <li>A bit of design, I am playing around with figma, seeing if I can design some things</li>
                    <li>Terraform</li>
                    <li>Aws within absa </li>
                    <li>Rfid</li>
                    <li>Growlights for herbs</li>
                </ul>
            </div>
            <div class="col-6 margin-top-medium">
                <p class="header">At Home</p>
                <ul class="content">
                    <li>I enjoy spending time with my daughter and partner</li>
                    <li>Going out to a resturant to try some new food (Big Foodie)</li>
                    <li>At times I like to be alone with my own thoughts thinking of ideas </li>
                    <li>DIY</li>
                    <li>Building applications</li>
                </ul>
            </div>
            <div class="col-6 margin-top-medium">
                <p class="header">What I google nowadays</p>
                <ul class="content">
                    <li>New technology from programming to buildings</li>
                    <li>Inpirational people, quotes , philosophy and psychology</li>
                    <li>DIY </li>
                    <li>Presedent Paul Kagame</li>
                </ul>
            </div>
            <div class="col-6 margin-top-medium">
                <p class="header">My definition of a successful person </p>
                <p class="content">A person who has changed the world in some way </p>
            </div>
        </div>
    </div>
    <div class="overlay-1">
    </div>
    <div class="overlay-2">
    </div>
</div>
