@import '../../../../../assets/styles/variables.scss';

.about-me {
 background: $secondary;
 text-align: center;
 height: 100vh;
 position: relative;
}

.overlay-2 {
    width: 100vw;
    height: calc(100% - 66px);
    background-color: $overlay2;
    position: absolute;
    top:66px;
    left: 0;
    z-index: 1;
}

.overlay-1 {
    width: 100vw;
    height: calc(100% - 66px);
    background: $background2;
    position: absolute;
    left: 0;
    top:66px;
}

.container {
    z-index: 2;
    position: relative;
    height: calc(100% - 66px);
}

h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 85px;

    color: #FFFFFF;
    margin-bottom: 64px;
}

img {
    border-radius: 50%;
    height: 296px;
    width: 296px;
}

.header {
    text-align: left;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin-top: 12px;
    color: #FBFDD5;
}

.content {
    text-align: left;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 30px;

    color: #FBFDD5;
}

.nav-div {
    height: 66px;
    width: 100vw;
    background: $primary;
}

@media only screen and (max-width: 600px) {
    .about-me {
        height: 100%;
    }
    .nav-div {
        position: fixed;
        z-index: 3;
    }
    .container {
        padding-bottom: 12px;
        padding-top: 64px;
        height: 100%;
    }
}